<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css"> <!-- Link to external CSS -->
    <title>GreenBanshee.com</title>
</head>
<body>
    <div class="container">
        <h1>GreenBanshee.com</h1>
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
        
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
        
            <button type="submit">Login</button>
        </form>
        <p id="status-message" style="color: rgb(63, 238, 10);"> <%- status == "success" ? "successfully signed up!" : ""%> </p>
        <p id="error-message" style="color: red;"> <%- status == "invalidCredentials"? "username and password do not match" : "" %> </p>
        <p>don't have an account? <a href="/signup">sign up</a></p>
        
    </div>
</body>
</html>